<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBType" value="MSSQL" />
    <add key="OLEDBConnectString" value="Provider=MySQLProv;Location={0};port={1};Data Source={2}; User Id={3}; Password={4};" />
    <add key="ODBCConnectString" value="Provider=MSDASQL;Driver={Microsoft Access Driver (*.mdb)};Dbq={0};Uid={3};Pwd={4};" />
  </appSettings>
</configuration>