<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Kgiant.Com.SEIERP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="DBType" value="MSSQL" />
    <add key="OLEDBConnectString" value="Provider=MySQLProv;Location={0};port={1};Data Source={2}; User Id={3}; Password={4};" />
    <add key="ODBCConnectString" value="Provider=MSDASQL;Driver={Microsoft Access Driver (*.mdb)};Dbq={0};Uid={3};Pwd={4};" />
  </appSettings>

  <userSettings>
    <Kgiant.Com.SEIERP.Properties.Settings>
      <setting name="IDSave" serializeAs="String">
        <value />
      </setting>
      <setting name="ID" serializeAs="String">
        <value />
      </setting>
      <setting name="CORPCD" serializeAs="String">
        <value />
      </setting>
    </Kgiant.Com.SEIERP.Properties.Settings>
  </userSettings>
  
</configuration>